spring.datasource.url=jdbc:postgresql://localhost:5432/promusic_shop
spring.datasource.username=
spring.datasource.password=
spring.datasource.driverClassName=org.postgresql.Driver
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=none
spring.flyway.locations=classpath:/db/migration,classpath:/db/testdata
spring.data.web.pageable.one-indexed-parameters=true
security.data-encryption.encryptionKey=zsyVulKYrEAzfl+fCzIEECWGoyUk0J2LhfawQC6UoJU=
email.domain.auth=@promusic.local
oauth.authorization.client.secret=$2a$04$5FUun3By38g7Cr7Twrg9F.uoBCybB.gqqxrCVStzjTxgE6UbKBbwS
